# For Examples
Options +Indexes

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Expose-Headers: Content-Length
Require all granted

RewriteEngine on
# rewrite the address of csstest.css to tracker.php?csstest
RewriteRule ^csstest-(.*)\.css$ ../includes/tracker.php?id=$1&page=csstest [L,QSA]
